<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIKitDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0DB2FD891D4EB9BA0071D1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB2FDA51D4EB9BA0071D1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB2FDB01D4EB9BA0071D1FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
